.quickQuiz_quizPlaceholder {
  display: none;
}

.quickQuiz_quizFrontWrapper {
  border-radius: 46px;
  background: #eeeeec;
  box-shadow: 5px 5px 4px #989897, -5px -5px 4px #ffffff;
  padding: 25px 50px 50px 50px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .questionHeading {
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid black;
    width: 100%;
  }

  .answerButton {
    height: 50px;
    width: 100%;
    margin: 10px;
    border: 0px;
    background: #eeeeec;
    color: black;
    font-size: 16px;
    border-radius: 20px;
    transition: all 0.25s linear;

    &:hover {
      box-shadow: inset 10px 10px 20px #989897, inset -10px -10px 20px #989897;
    }
  }
}
.quickQuiz_quizFrontWrapper.result-false {
  animation: overlayAnimationIncorrect 2s linear;
}
.quickQuiz_quizFrontWrapper.result-true {
  animation: overlayAnimationCorrect 2s linear;
}

@keyframes overlayAnimationCorrect {
  0% {
    background: #eeeeec;
    opacity: 1;
  }
  50% {
    background-color: #00ff00;
    opacity: 0.5;
  }
  100% {
    background: #eeeeec;
    opacity: 1;
  }
}
@keyframes overlayAnimationIncorrect {
  0% {
    background: #eeeeec;
    opacity: 1;
  }
  50% {
    background-color: #ff0000;
    opacity: 0.5;
  }
  100% {
    background: #eeeeec;
    opacity: 1;
  }
}
